
@{
    ViewBag.Title = "Notsignedin";
}

<h2>Notsignedin</h2>
<h3>You are unable to access this feature if you are not signed in</h3>
<p>
    @Html.ActionLink("Login to your account", "Login", "Account")
</p>
<p>
    @Html.ActionLink("Register an account","Register", "Account")
</p>


