
@{
    ViewBag.Title = "Notanowner";
}

<h2>Not an owner</h2>
<h3>Unfortunatley this section is only available to website owners</h3>

<div>
    @Html.ActionLink("Back to galleries", "Index", "Galleries")
</div>
