
@{
    ViewBag.Title = "View";
}

<h2>Success</h2>
<h2>The Image has been successfully uploaded to the gallery.</h2>

<div>
    @Html.ActionLink("Return to your Galleries", "Mygalleries","Galleries")
</div>
